In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
df_base = datetime.datetime.today()

In [3]:
print(df_base)

2021-01-14 15:21:41.024196

In [4]:
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0,20)]

In [5]:
print(df_date_list)

[datetime.datetime(2021, 1, 14, 15, 21, 41, 24196), datetime.datetime(2021, 1, 13, 15, 21, 41, 24196), datetime.datetime(2021, 1, 12, 15, 21, 41, 24196), datetime.datetime(2021, 1, 11, 15, 21, 41, 24196), datetime.datetime(2021, 1, 10, 15, 21, 41, 24196), datetime.datetime(2021, 1, 9, 15, 21, 41, 24196), datetime.datetime(2021, 1, 8, 15, 21, 41, 24196), datetime.datetime(2021, 1, 7, 15, 21, 41, 24196), datetime.datetime(2021, 1, 6, 15, 21, 41, 24196), datetime.datetime(2021, 1, 5, 15, 21, 41, 24196), datetime.datetime(2021, 1, 4, 15, 21, 41, 24196), datetime.datetime(2021, 1, 3, 15, 21, 41, 24196), datetime.datetime(2021, 1, 2, 15, 21, 41, 24196), datetime.datetime(2021, 1, 1, 15, 21, 41, 24196), datetime.datetime(2020, 12, 31, 15, 21, 41, 24196), datetime.datetime(2020, 12, 30, 15, 21, 41, 24196), datetime.datetime(2020, 12, 29, 15, 21, 41, 24196), datetime.datetime(2020, 12, 28, 15, 21, 41, 24196), datetime.datetime(2020, 12, 27, 15, 21, 41, 24196), datetime.datetime(2020, 12, 26, 15, 21, 41, 24196)]

In [6]:
df = pd.DataFrame(df_date_list)
df.columns=['days']
df

                         days
0  2021-01-14 15:21:41.024196
1  2021-01-13 15:21:41.024196
2  2021-01-12 15:21:41.024196
3  2021-01-11 15:21:41.024196
4  2021-01-10 15:21:41.024196
5  2021-01-09 15:21:41.024196
6  2021-01-08 15:21:41.024196
7  2021-01-07 15:21:41.024196
8  2021-01-06 15:21:41.024196
9  2021-01-05 15:21:41.024196
10 2021-01-04 15:21:41.024196
11 2021-01-03 15:21:41.024196
12 2021-01-02 15:21:41.024196
13 2021-01-01 15:21:41.024196
14 2020-12-31 15:21:41.024196
15 2020-12-30 15:21:41.024196
16 2020-12-29 15:21:41.024196
17 2020-12-28 15:21:41.024196
18 2020-12-27 15:21:41.024196
19 2020-12-26 15:21:41.024196

In [13]:
df['day_of_week'] = df['days'].dt.day_name()
df.head(10)

                        days day_of_week
0 2021-01-14 15:21:41.024196    Thursday
1 2021-01-13 15:21:41.024196   Wednesday
2 2021-01-12 15:21:41.024196     Tuesday
3 2021-01-11 15:21:41.024196      Monday
4 2021-01-10 15:21:41.024196      Sunday
5 2021-01-09 15:21:41.024196    Saturday
6 2021-01-08 15:21:41.024196      Friday
7 2021-01-07 15:21:41.024196    Thursday
8 2021-01-06 15:21:41.024196   Wednesday
9 2021-01-05 15:21:41.024196     Tuesday

In [14]:
# categorial variable by ordinal number replacement

In [18]:
weekday_map = {'Monday':1,
            'Tuesday':2,
            'Wednesday':3,
            'Thursday':4,
            'Friday':5,
            'Saturday':6,
            'Sunday':7
               
}
df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head(20)

                         days day_of_week  day_ordinal
0  2021-01-14 15:21:41.024196    Thursday            4
1  2021-01-13 15:21:41.024196   Wednesday            3
2  2021-01-12 15:21:41.024196     Tuesday            2
3  2021-01-11 15:21:41.024196      Monday            1
4  2021-01-10 15:21:41.024196      Sunday            7
5  2021-01-09 15:21:41.024196    Saturday            6
6  2021-01-08 15:21:41.024196      Friday            5
7  2021-01-07 15:21:41.024196    Thursday            4
8  2021-01-06 15:21:41.024196   Wednesday            3
9  2021-01-05 15:21:41.024196     Tuesday            2
10 2021-01-04 15:21:41.024196      Monday            1
11 2021-01-03 15:21:41.024196      Sunday            7
12 2021-01-02 15:21:41.024196    Saturday            6
13 2021-01-01 15:21:41.024196      Friday            5
14 2020-12-31 15:21:41.024196    Thursday            4
15 2020-12-30 15:21:41.024196   Wednesday            3
16 2020-12-29 15:21:41.024196     Tuesday            2
17 2020-12-28 15:21:41.024196      Monday            1
18 2020-12-27 15:21:41.024196      Sunday            7
19 2020-12-26 15:21:41.024196    Saturday            6

# Ordinal measurement advantages

#### ordinal measurement is normally used for surveys and questionnaires. Statistical analysis is applied to the responses once they are collected to place the people who took the survey into the various categories. The data is then compared to draw inferences and conclusions about the whole surveyed population with regard to the specific variables. The advantages of using ordinal measurement is ease of collation and categorization.If you ask a seuvey question without providing the variables, the answers are likely to be so diverse they cannot be converted to statistics.

#### with respect to machine learning 

### 1. keep the semantical information of the variable (human readable content)
#### 2.Straightforward


## Ordinal Measurement Disadvantages 

#### The same characteristics of ordinal measurement that create its advantages also create certain disadvantages . THe responses are often so narrow in relation to the question that they create or magnify blas that is not factored into the survey. For example, on the question about satisfaction with the governor , people might be satisfied with his job performance but upset about a recent sex scandal. The servey question might lead respondents to state their dissatisfaction about the scandal, inspite of satisfaction with his job performance-- but the statistical conclusion will not differentiate.

### with respect to machine learning 

#### 1. Does not add machine learning valuable information.